* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-image: url(../images/bg.jpg);
}

.disabled {
    cursor: not-allowed;
}
nav img {
    max-height: 35px;
    margin-right: 200px;
    text-align: center;
    padding: 10px;
}

nav .links {
    display: flex;
    width: 30vmax;
    justify-content: space-around;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;

}

.introduce {
    background: url(../images/bg.jpg);
    /* background-color: rgb(199, 199, 199); */
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduce img {
    max-width: 600px;
    min-height: 450px;
    transition: transform .5s;
}

.introduce h1 {
    text-align: center;
    font-size: 35px;
    padding: 50px;
    letter-spacing: 2px;
}

.introduce h1 span {
    color: darkred;
}

.introduce h2 {
    text-align: center;
    font-size: 28px;
}

.introduce img:hover {
    transform: scale(1.2) translateX(5%);
}

.about {
    height: 50vh;
    background-color: inherit;
    text-align: center;
}

.about p {
    margin-top: 5%;
    line-height: 25px;
}

h2 {
    letter-spacing: 1px;
    font-size: 30px;
}

.skillscontainer {
    margin: auto;
    min-width: 60%;
    padding: 0px auto;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    border: 10px groove silver;
    border-radius: 10%;
    width: 85px;
    height: 110px;
    position: relative;
    padding: 0 10px;
    margin: 10px 0;
    transition: transform .5s;
}

.skill:hover {
    transform: rotate(360deg);
}

.skill img {
    max-height: 50px;
    padding: 10px;
    padding-bottom: 30px;
}

.skill h3 {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateX(-10%);
}

.aboutcontainer {
    background: url(../images/bg.jpg);
    margin-top: 2%;
    padding: 40px;
    display: flex;
}

.contact {
    padding: auto;
}

.platforms {
    margin-top: 2%;
    padding: 30px;
    background: url(../images/bg.jpg);
    display: flex;
    justify-content: center;
}

.platform {
    padding: 0px 100px;
}

.platform img {
    width: 35px;
}