body{
    background: linear-gradient(135deg, #add8e6, #ffffff, #ffe4e1);
    height: 95vh;
}
.gamespace{
    margin-top: 5vh;
    height: 85vh;
    width: 80vw;
}
.character{
    width: 6vw;
    height: 20vh;
    top: 40%;
    left: 20%;
    transition: all 0s ease;
}
#thor{
    top: 40%;
    left: 80%;
}

.character img{
    width: 100%;
}
#boc{
    width: 3vw;
    transform: translateX(-100%) translateY(50%);
    visibility: hidden;
    position: absolute;
    transition: all .08s cubic-bezier(.39,0,1,-0.17);

}
#boo{
    width: 3vw;
    transform: translateX(-70%) translateY(-10%) rotate(90deg);
    position: absolute;
    visibility: hidden;
    transition: all .1s linear;
}
#boc.animateL {
  visibility: visible;
  transform: translateX(-600%);
}
#boc.animateR {
  visibility: visible;
  transform: translateX(300%) ;
}
#axe{
    width: 2vw;
    transform: translateX(-100%);
    visibility: hidden;
    position: absolute;
    transition: all .3s cubic-bezier(.39,0,1,-0.17);
}
#axe.animateL {
  visibility: visible;
  transform: translateX(-1600%) rotate(-720deg);
}
#axe.animateR {
  visibility: visible;
  transform: translateX(1200%) rotate(720deg);
}

#thor{
    position: absolute;
    height: 15vh;
}
#score{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
#timer{
    position: absolute;
    bottom: 2%;
    right: 5%;
}
#mybg{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    transform: translateX(-3.5%) translateY(-8%);
}
.progress {
  height: 20px;
  background-color: #ddd;
}

.progress-bar {
  height: 100%;
  background-color: purple;
  width: 100%;
}
#playAgain{
    bottom: 0;
    left: 40%;
    color: black;
    background-color: transparent;
    border: none;
    display: none;
}
#playAgain img{
    width: 5vw;
}
#muteButton{
    top: 0;
    right: 0;
}
#unMuteButton{
    top: 0;
    right: 0;
    display: none;
}
#controls {
    position: absolute;
    top: 0;
    left: 0;
}